/* 使用 Element Plus 样式变量优化自定义滚动条 */
* {
  scrollbar-color: var(--el-scrollbar-bg-color) var(--el-fill-color-light);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--el-scrollbar-track-color, transparent);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--el-scrollbar-thumb-color, rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: var(--el-scrollbar-thumb-hover-color, rgba(0, 0, 0, 0.3));
}

.dark ::-webkit-scrollbar-thumb {
  background-color: var(--el-dark-scrollbar-thumb-color, rgba(255, 255, 255, 0.2));
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: var(--el-dark-scrollbar-thumb-hover-color, rgba(255, 255, 255, 0.4));
}
